{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <style>
        
    </style>
{% endblock styles %}

{% block content %}
<div class="login-form-container">
    <form method="post" class="login-form">
        <h2>Войти</h2>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Войти</button>
        <div class="form-footer">
            <a href="{% url 'register' %}">Регистрация</a>
        </div>
    </form>
</div>
{% endblock content %}
